# Ignore intellij project files
*.iml
.idea
.DS_Store

# Ignore target directories
target

# Ignore notebook checkpoints
**/.ipynb_checkpoints/

# Ignore pycache
*.pyc
*.pyo
*.pyd
__pycache__/
*.log
*.egg-info/


